node_modules
.env
coverage
coverage.json
typechain
typechain-types
scripts/dist
pythonAutomation/output
pythonAutomation/output.zip
temp
testKeypair/private.key
testKeypair/public.key
.idea

#Hardhat files
cache
artifacts

#sec notes
sec-review.md
thirdwebtest/public/unity/Build/unity.data
thirdwebtest/public/unity/Build/unity.framework.js
thirdwebtest/public/unity/Build/unity.wasm
thirdwebtest/public/unity/
