@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

:root {
  --clr-black: #000;
  --clr-white: #fff;
  --clr-red: #e61e25;
  --clr-yellow: #f3b029;
  --clr-violet: #7a28cb;
  --clr-green: #00a676;
  --clr-green-electro: #39b54a;
  --clr-grey: #696a68;
  --clr-cyan: #87b3c1;
  --clr-cyan30: rgba(135, 179, 193, 0.3);
}

.turret-road-extralight {
  font-family: "Turret Road", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.turret-road-light {
  font-family: "Turret Road", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.turret-road-regular {
  font-family: "Turret Road", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.turret-road-medium {
  font-family: "Turret Road", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.turret-road-bold {
  font-family: "Turret Road", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.turret-road-extrabold {
  font-family: "Turret Road", sans-serif;
  font-weight: 800;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background: var(--clr-black);
}

#home, #inside {
  height: 100%;  
  position: relative;
  min-height: 100vh;
}

#home{
  background: url(/img/home.webp) center no-repeat;
  background-size: cover;
} 

#home > div > *{
  z-index: 2;
}

#home .homecnt{
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
}

#inside{
  background: url(/img/inside.webp) center no-repeat;
  background-size: cover;
}

#home::before, #inside::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url(/img/bars.webp) center;
  mix-blend-mode: overlay;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#inside header img{
  margin: auto;
  display: block;
  z-index: 2;
  position: relative;
}

header .logo_inside {
  max-width: 90%;
}

.logo_main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-center {
  display: block;
  margin: auto;
}

.wrap_buttons {
  position: absolute;
  bottom: 15%;
  width: 100%;
}

.hex_button {
  background: url(/img/buttons/regular.webp) no-repeat center;
  background-size: contain;
  padding: 30px;
  min-width: 340px;
  text-align: center;
  color: var(--clr-cyan);
  text-decoration: none;
  font-size: 1.2em;
  transition: .4s;
  display: inline-block;
  z-index: 2;
  cursor: pointer;
  border: none;
  line-height: 30px;
  font-family: "Turret Road", sans-serif;
  font-size: 700;
  text-transform: uppercase;
}

.hex_button:hover {
  background: url('/img/buttons/hover.webp') no-repeat center;
  background-size: contain;  
}

.hex_button.mint-button {
  background: url('/img/button-normal.webp') no-repeat center;
}

.hex_button.mint-button:hover {
  background: url('/img/normal-hover.webp') no-repeat center;
}

.hex_button span {
  visibility: visible;
}


.special {
  background: url(/img/button-special.webp) no-repeat center;
  background-size: contain;
}

.special:hover {
  background: url(/img/special-hover.webp) no-repeat center;
  background-size: contain;
  color: var(--clr-red);
}

.main-container {
  max-width: 80%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.main-container > .row {
  height: 100%;
}

.connect-wallet {
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Align to the right */
  position: absolute;
  top: 10px;
  right: 10px; /* Adjust as necessary */
  z-index: 10;
}

.connect-wallet .connect-button {
  width: 200px;
}

.player {
  text-align: center;
  position: relative;
}

.player .hex_button {
  font-size: 0.8em;
  min-width: initial;
  width: 100%;
  max-width: 90%;
  background: url(/img/buttons/small-regular.webp) no-repeat center;
  background-size: 100%;
}

.player button.hex_button:not(.claimed):hover{
  background: url(/img/buttons/small-hover.webp) no-repeat center;
  background-size: 100%;
}

.player .hex_button.claimed{
  background: url(/img/buttons/claimed.webp) no-repeat center;
  background-size: 100%;
  color: var(--clr-green-electro);
  cursor: not-allowed;
}

.player span.hex_button{
  cursor: default;
  background: url(/img/buttons/small-disabled.webp) no-repeat center;
  background-size: 100%;
}

.player .wrap_images {
  position: relative;
}

.player .wrap_images img.front {
  opacity: 1;
  z-index: 2;
  width: 100%;
}

.player .wrap_images img.back {
  opacity: 0;
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: opacity .8s;
}

.player.hasMinted .wrap_images .back{
  opacity: 1 !important;
}

.player .wrap_images img.backvisible {
  opacity: 1;
}

.player span.name {
  display: inline-block;
  font-family: "Turret Road", sans-serif;
  font-weight: 700;
  color: var(--clr-cyan);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 10.5%;
  font-size: 0.85em;
  z-index: 3;
  letter-spacing: 1px;
}

.player > *:last-child{
  position: absolute;
  width: 80%;
  bottom: 6.5%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 4;
}

.player > *:last-child button div{
  left: 50%;
  transform: translate(-70px, 0);
  zoom: 0.8;
}

.absbutt {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 50px;
  z-index: 2;
}

.interactions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.interactions span {
  display: block;
  width: 42px;
  height: 50px;
  display: none;
}

.interactions span.prev_player {
  background: url(/img/left-arrow.webp) no-repeat center;
  background: contain;
}

.interactions span.next_player {
  background: url(/img/right-arrow.webp) no-repeat center;
  background: contain;
}

.mainTitleSec{
  color: var(--clr-cyan);
  position: relative;
  z-index: 2;
  font-size: 1.2em;
  margin: 0;
}

.leftbar{
  background: url(/img/left-bar.webp) no-repeat right;
  display: block;
  width: 100%;
  height: 30px;
}

.rightbar{
  background: url(/img/right-bar.webp) no-repeat left;
  display: block;
  width: 100%;
  height: 30px;
}

.aoc_panel{
  border: 2px solid var(--clr-cyan);
  background: var(--clr-cyan30);
  border-radius: 10px;
  padding: 15px;
  font-family: "Turret Road", sans-serif; 
  margin-bottom: 30px; 
}

.aoc_panel p{
  color: var(--clr-cyan);
  margin: 0;  
}

.aoc_panel p span{
  text-transform: uppercase;
  font-weight: 800;
}

.socialLink, .brandList{
  list-style-type: none;
  gap: 12px
}

.socialLink li a{
  font-size: 1.3em;
  color: var(--clr-cyan);
  transition: .4s;
}

.socialLink li a:hover{
  color: var(--clr-white);
}

@media (max-width: 1450px){
  .main-container {
    max-width: 85%;
  }
}

/* Responsive styles */
@media (max-width: 990px) {
  .logo_main {
    max-width: 300px;
    height: auto;
  }

  .main-container {
    max-width: 100%;
  }

  .wrap_buttons {
    bottom: 10%;
  }

  .mobrow {
    flex-wrap: nowrap !important;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
  }

  .mobrow > div{
    scroll-snap-align: start;
  }

  a.hex_button:not(.absbutt) {
    zoom: 0.9;
  }

  .player .wrap_images img.back {
    opacity: 1;
  }

  .interactions {
    justify-content: space-between;
  }

  .interactions span {
    display: block;
  }

  .player .wrap_images img {
    max-width: 100%;
  }
}
