:root {
  --clr-black: #000;
  --clr-white: #fff;
  --clr-red: #e61e25;
  --clr-yellow: #f3b029;
  --clr-violet: #7a28cb;
  --clr-green: #00a676;
  --clr-grey: #696a68;
}

.turret-road-extralight {
  font-family: "Turret Road", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.turret-road-light {
  font-family: "Turret Road", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.turret-road-regular {
  font-family: "Turret Road", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.turret-road-medium {
  font-family: "Turret Road", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.turret-road-bold {
  font-family: "Turret Road", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.turret-road-extrabold {
  font-family: "Turret Road", sans-serif;
  font-weight: 800;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background: var(--clr-black);
}

#home, #inside {
  height: 100%;
  background: url(/img/home.webp) center no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

#home::before, #inside::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url(/img/bars.webp) center;
  mix-blend-mode: overlay;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

header {
  position: fixed;
  z-index: 10;
  width: 120px;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  background: url(/img/header_bg.webp) center no-repeat;
  background-size: contain;
  padding: 6px 0;
}

header .logo_inside {
  max-width: 90%;
}

.logo_main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-center {
  display: block;
  margin: auto;
}

.wrap_buttons {
  position: absolute;
  bottom: 15%;
  width: 100%;
}

.hex_button {
  background: url(/img/button-normal.webp) no-repeat center;
  background-size: contain;
  padding: 15px 35px;
  min-width: 150px;
  text-align: center;
  color: var(--clr-white);
  text-decoration: none;
  font-size: 1.8em;
  transition: .4s;
  display: inline-block;
  z-index: 2;
  cursor: pointer;
  border: none;
}

.hex_button:hover {
  background: url('/img/normal-hover.webp') no-repeat center;
  background-size: contain;
  color: var(--clr-red);
}

.hex_button.mint-button {
  background: url('/img/button-normal.webp') no-repeat center;
}

.hex_button.mint-button:hover {
  background: url('/img/normal-hover.webp') no-repeat center;
}

.hex_button.claimed {
  background: url('/img/button-claimed.webp') no-repeat center;
  background-size: contain;
  color: var(--clr-grey);
  cursor: not-allowed;
  opacity: 0.5;
}

.hex_button span {
  visibility: visible;
}


.special {
  background: url(/img/button-special.webp) no-repeat center;
  background-size: contain;
}

.special:hover {
  background: url(/img/special-hover.webp) no-repeat center;
  background-size: contain;
  color: var(--clr-red);
}

.main-container {
  max-width: 70%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.main-container > .row {
  height: 100%;
}

.connect-wallet {
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Align to the right */
  position: absolute;
  top: 10px;
  right: 10px; /* Adjust as necessary */
  z-index: 10;
}

.connect-wallet .connect-button {
  width: 200px;
}

.player {
  text-align: center;
}

.player .hex_button {
  font-size: 1.5em;
  min-width: initial;
  width: 100%;
  max-width: 210px;
}

.player .wrap_images {
  position: relative;
}

.player .wrap_images img.front {
  opacity: 1;
  z-index: 2;
}

.player .wrap_images img.back {
  opacity: 0;
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: opacity .8s;
}

.player .wrap_images img.backvisible {
  opacity: 1;
}

.player span.name {
  display: inline-block;
  font-family: "Turret Road", sans-serif;
  font-weight: 700;
  color: var(--clr-white);
}

.player.red span.name {
  color: var(--clr-red);
  text-shadow: var(--clr-red) 1px 0 10px;
}

.player.yellow span.name {
  color: var(--clr-yellow);
  text-shadow: var(--clr-yellow) 1px 0 10px;
}

.player.violet span.name {
  color: var(--clr-violet);
  text-shadow: var(--clr-violet) 1px 0 10px;
}

.player.green span.name {
  color: var(--clr-green);
  text-shadow: var(--clr-green) 1px 0 10px;
}

.absbutt {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 50px;
  z-index: 2;
}

.interactions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.interactions span {
  display: block;
  width: 42px;
  height: 50px;
  display: none;
}

.interactions span.prev_player {
  background: url(/img/left-arrow.webp) no-repeat center;
  background: contain;
}

.interactions span.next_player {
  background: url(/img/right-arrow.webp) no-repeat center;
  background: contain;
}

/* Responsive styles */
@media (max-width: 990px) {
  .logo_main {
    max-width: 300px;
  }

  .main-container {
    max-width: 80%;
  }

  .wrap_buttons {
    bottom: 25%;
  }

  .mobrow {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  a.hex_button:not(.absbutt) {
    zoom: 0.62;
  }

  .player .wrap_images img.back {
    opacity: 1;
  }

  .interactions {
    justify-content: space-between;
  }

  .interactions span {
    display: block;
  }

  .player .wrap_images img {
    max-width: 70%;
  }
}
